body {
	background-color: black;
	margin: 0;
	overflow: hidden;
	height: 100%;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	display: flex;
	font-family: 'Fredoka One', cursive;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 6rem;
	height: 60vh;
	width: 100vw;
	z-index: 10;
}

.select-game {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	height: 30vh;
	width: 90vw;	
}

.box {
	text-decoration: none;
	color: black;
	font-family: 'Fredoka One', cursive;
	padding: 2rem;
	border-radius: 0.5rem;
}

#easy {
	background-color: #118ab2;
}

#medium {
	background-color: #06d6a0;
}

#hard {
	background-color: #ffd166;
}

#super-hard {
	background-color: #ef476f;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	width: 95vw;
}

.title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: white;
	font-family: 'Fredoka One', cursive;
	padding: 0.4rem 0.8rem;
	background-color: #395e66;
	border-radius: 0.5rem;
	text-decoration: none;
}

.timer {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: 'Fredoka One', cursive;
	padding: 0.4rem;
	width: 4rem;
	background-color: #395e66;
	border-radius: 0.5rem;
}

.hidden {
	display: none !important;
}

h1 {
	color: white;
	font-size: 36px;
	font-family: 'Fredoka One', cursive;
	margin-bottom: 0;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 40vh;
	border: none;
	background-color: #395e66;
	outline: none;
	z-index: 2;
	border-radius: 0.5rem;
	padding: 1.2rem;
	font-size: 1.3rem;
	cursor: pointer;
	color: white;
	font-family: 'Fredoka One', cursive;
}

.winner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: transparent;
	top: 10vh;
	z-index: 1;
	height: 30vh;
	width: 100vw;
}

.winner p {
	color: white;
	font-size: 1rem;
	font-family: 'Fredoka One', cursive;
}